#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Exec=mesonplayer %U
Name=Meson Player
Icon=meson-player
Categories=Audio;AudioVideo;Player;Qt;
